linux_gmp:
  stage: build
  script:
    - echo "en_US.UTF-8 UTF-8" > /etc/locale.gen
    - env DEBIAN_FRONTEND=noninteractive apt-get -y update
    - env DEBIAN_FRONTEND=noninteractive apt-get -y install texinfo
    - autoreconf -i
    - ./configure
    - make
    # copied from https://gitlab.com/hepcedar/rivet/-/blob/release-3-1-x/.gitlab-ci.yml
    - make check || (cat tests/test-suite.log && false)
  tags:
    - linux

linux_gmp_cxx:
  stage: build
  script:
    - echo "en_US.UTF-8 UTF-8" > /etc/locale.gen
    - env DEBIAN_FRONTEND=noninteractive apt-get -y update
    - env DEBIAN_FRONTEND=noninteractive apt-get -y install texinfo
    - autoreconf -i
    - ./configure CC=g++
    - make
    # copied from https://gitlab.com/hepcedar/rivet/-/blob/release-3-1-x/.gitlab-ci.yml
    - make check || (cat tests/test-suite.log && false)
  tags:
    - linux

linux_gmp_clang:
  stage: build
  script:
    - echo "en_US.UTF-8 UTF-8" > /etc/locale.gen
    - env DEBIAN_FRONTEND=noninteractive apt-get -y update
    - env DEBIAN_FRONTEND=noninteractive apt-get -y install texinfo clang
    - autoreconf -i
    - ./configure CC=clang
    - make
    # copied from https://gitlab.com/hepcedar/rivet/-/blob/release-3-1-x/.gitlab-ci.yml
    - make check || (cat tests/test-suite.log && false)
  tags:
    - linux

linux_gmp_Werror:
  stage: build
  script:
    - echo "en_US.UTF-8 UTF-8" > /etc/locale.gen
    - env DEBIAN_FRONTEND=noninteractive apt-get -y update
    - env DEBIAN_FRONTEND=noninteractive apt-get -y install texinfo
    - autoreconf -i
    - ./configure CFLAGS=-Werror
    - make
    # copied from https://gitlab.com/hepcedar/rivet/-/blob/release-3-1-x/.gitlab-ci.yml
    - make check || (cat tests/test-suite.log && false)
  tags:
    - linux

c90compatibility:
  stage: build
  script:
    - echo "en_US.UTF-8 UTF-8" > /etc/locale.gen
    - env DEBIAN_FRONTEND=noninteractive apt-get -y update
    - env DEBIAN_FRONTEND=noninteractive apt-get -y install texinfo
    - autoreconf -i
    - ./configure CFLAGS="-std=c90 -pedantic-errors -Wno-error=overlength-strings"
    - make
    - make check
  tags:
    - linux
